body
	{
		text-align: center;
		background-color: hsl(0,0%,85%);
	} 
h2
	{
		font-size: 100px
	}
div 
	{
		height: 25vh
	}
.norm
	{
		background-color: #eb2336
	}
.pikal
	{
		background-color: #131a6d
	}
.long
	{
		background-color: #ffd600
	}
.xok
	{
		background-color: #00a750
	}	
